#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--sub-font__color);
}

@keyframes hideSlashScreen {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    /* ㄴvisibility: hidden이 없으면 animation의 마지막 elments 그대로 멈춤
    즉, 밑의 nav의 button이 클릭되지 않음. so, visibility: hidden로 마우스 클릭이 가능하게 해줌 */
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSlashScreen 2s ease-in-out forwards;
  /* ㄴ animation의 마지막을 기억하고 싶을 땐 'forwards'를 사용 */
  /* animation-delay (원하는 만큼 동작 멈춤) */
}
